.Menubar {
  padding-top:20px;
  padding-bottom: 13px;
  background-color: rgba(0, 0, 0, 0.001);
  flex: 1 1 auto;
  border-bottom: groove white 1px;
}
.titlew{
  font-family: "High Tower Text";
  color : black;
  font-size: 20px;
  padding-right: 85px;
}

.TitlePos {
  padding: 15px;
  flex: 1 1 auto;

}

.ButtonPos {
  padding: 15px;
  flex: 1 1 auto;
}

.ButtonStyle {
  background-color: rgba(0, 0, 0, 0.001);
  font-size: 23px;
  font-family: "High Tower Text";
  color: black;
}

.ButtonStyle:hover{
  border-bottom: solid white 2px;
}

.VideoStyle {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
