<md-toolbar class="Menubar">

  <img src='http://img4.hostingpics.net/pics/662002androidchrome192x192burned.png'>
  <div class="titlew" >ictu'r Gallery</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/gallery">
      <button md-button class="ButtonStyle">
        Gallery
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/pictures">
      <button md-button class="ButtonStyle">
        Upload
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/login">
      <button md-button class="ButtonStyle">
        Login
      </button>
    </a>
  </div>

</md-toolbar>

<video autoplay loop id="video-background" muted class="VideoStyle">
  <source src="https://vimeo-hp-videos.global.ssl.fastly.net/4/4.mp4" type="video/mp4">
</video>



<form  class='form' (submit)="connectUser(userTmp)">


  <br>
  <div>
    <input class="inputitle"
           style=" width: 350px;"
           type="text"
           name="userId"
           placeholder="Login"
           [(ngModel)]="userTmp.userId">
  </div>
  <div>
    <div>
      <input class="inputitle"
             style=" width: 350px;"
             type="text"
             name="userPwd"
             placeholder="Password"
             [(ngModel)]="userTmp.userPwd">
    </div>
    <br>
   <button md-raised-button class="myUpload ButtonStyle" type="submit">CONNECT</button>
  </div>
</form>


<div class='box'>

  <input class="login"
    style=" width: 350px;"
    type="text"
    name="title"
    placeholder="Login"
    >

    <input class="password"
      style=" width: 350px;"
      type="text"
      name="title"
      placeholder="password"
      >

  <button md-raised-button  class="pos ButtonStyle">
    Login
  </button>
  <button md-raised-button  class="pos ButtonStyle">
    Create
  </button>


</div>
