

<form  class='form' (submit)="uploadPicture(pictureTmp)">

  <div class="dropzone shad">
    <input
      id="uploadbutton"
      class="uploadbutton"
      type="file"
      accept="image/jpeg"
      (change)="drag($event)">
  </div>
  <br>
  <div>
    <input class="inputitle"
      style=" width: 350px;"
      type="text"
      name="title"
      placeholder="Picture title"
      [(ngModel)]="pictureTmp.title">
  </div>
  <div>
    <br>
    <!--<button class="myUpload" (click)="resetPicture()" type="submit">RESET</button>-->
    <button md-raised-button color="primary" class="ButtonStyle" type="submit">UPLOAD</button>
  </div>
</form>





