<md-toolbar class="Menubar">

  <img src='http://img4.hostingpics.net/pics/662002androidchrome192x192burned.png'>
  <div style="color:lightgray">ictu'r Gallery</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-raised-button color="primary" class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/gallery">
      <button md-raised-button color="primary" class="ButtonStyle">
        Gallery
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/pictures">
      <button md-raised-button color="primary" class="ButtonStyle">
        Upload
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href="/#/login">
      <button md-raised-button color="primary" class="ButtonStyle">
        Login
      </button>
    </a>
  </div>

</md-toolbar>

<video autoplay loop id="video-background" muted class="VideoStyle">
  <source src="https://vimeo-hp-videos.global.ssl.fastly.net/3/3.mp4" type="video/mp4">
</video>




<div  class="pictur-gallery" *ngFor="let pictur of picturList" >

           <img   class="gallery__item__pictur" [src]="pictur.url | picturUrlSanitizer" [alt]="pictur.title">
           <div class="title">{{pictur.title}}</div>
   </div>



